.header {
    position: relative;
}

.header__block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

/* Настройки кнопок в шапке */

.header__buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 48px;
}

.header__buttons--button {
    text-decoration: none;
    color: #fff;
    padding: 8px 20px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.25px;
    transition: background-color .2s ease-in-out;
    border-radius: 2px;
}

.header__buttons--button:nth-child(1):hover {
    background-color: #5D5DFF;
}

.header__buttons--button:nth-child(2) {
    background-color: #5D5DFF;
    border: 1px solid #5D5DFF;
}

.header__buttons--button:nth-child(2):hover {
    background-color: transparent;
}

.header__decoration::before {
    content: url(../img/png/topright.png);
}

.header__decoration {
    position: absolute;
    pointer-events: none;
    right: 0;
    top: 0;
}