@import url('./header.css');

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #9BA9B4;
    background-color: #151719;
}

.center {
    padding-left: calc(50% - 1104px / 2);
    padding-right: calc(50% - 1104px / 2);
}

/* Настройка интро */

.main {
    flex-grow: 1;
}

.intro-block {
    text-align: center;
    margin-top: 80px;
}

/* Общая настройка для title и subtitle */
.section__text--flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Общая настройка для title и subtitle */

.intro-block__title {
    font-weight: bold;
    font-size: 52px;
    line-height: 62px;
    letter-spacing: -0.5px;
    margin-bottom: 16px;
    color: rgba(217, 227, 234, 1);
}

.intro-block__subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.25px;
    max-width: 768px;
    margin-bottom: 32px;
    color: rgba(155, 169, 180, 1);
}

.intro-block__buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-bottom: 64px;
}

.intro-block--button {
    text-decoration: none;
    color: #fff;
    padding: 12px 32px;
    background-color: #5D5DFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.25px;
    box-shadow: 0px 10px 15px -3px rgba(21, 23, 25, 0.16);
    border-radius: 2px;
    border: 1px solid #5D5DFF;
    transition: background-color .2s ease-in-out;
}

.intro-block--button:hover {
    background-color: transparent;
}

.intro-block--button:nth-child(2) {
    background-color: rgba(51, 54, 58, 1);
    border: 1px solid rgba(51, 54, 58, 1);
}

.intro-block--button:nth-child(2):hover {
    background-color: transparent;
}

.intro-block__player {
    position: relative;
    z-index: 9999;
}

.intro__decoration::before {
    content: url(../img/png/leftcenter.png);
}

.intro-block__decoration {
    position: absolute;
    pointer-events: none;
    bottom: -15%;
    left: 15%;
}

/* Настройка workflows */

.workflows-block {
    text-align: center;
    margin-top: 128px;
}

.workflows-block__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -0.5px;
    max-width: 768px;
    margin-bottom: 44px;
    color: rgba(217, 227, 234, 1);
}

/* Настройка workflows карточек */

.workflows-block__card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.workflows-block__card-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.workflows-block__card-img {
    width: 64px;
    height: 64px;
    margin-bottom: 16px;
}

.workflows-block__title {
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: -0.5px;
    max-width: 768px;
}

.workflows-block__subtitle {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.25px;
    max-width: 768px;
    margin-bottom: 32px;
    max-width: 768px;
}

.workflows-block__card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: -0.25px;
    color: rgba(217, 227, 234, 1);
}

.workflows-block__card-subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.25px;
    max-width: 369px;
    color: rgba(155, 169, 180, 1);
}

.main__spacer {
    margin-top: 80px;
    width: 100%;
    height: 1px;
    background-color: rgba(51, 54, 58, 1);
}

/* Настройки Projects */

.projects-block {
    margin-top: 80px;
    text-align: center;
}

.projects-block__badge {
    width: fit-content;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    border-radius: 15px;
    padding: 4px 12px;
    margin-bottom: 16px;
    color: rgba(54, 162, 105, 1);
    background-color: rgba(198, 246, 213, 1);
}

.projects-block__title {
    margin-bottom: 16px;
}

.projects-block__subtitle {
    margin-bottom: 80px;
}

.projects-block__card-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 64px;
    margin-bottom: 80px;
}

.projects-block__card-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.projects-block__card-pretitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.25px;
    margin-bottom: 8px;
    color: rgba(93, 93, 255, 1);
}

.projects-block__card-title {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 9px;
}

.projects-block__card-subtitle {
    text-align: left;
    max-width: 500px;
    margin-bottom: 16px;
}

.projects-block__card-arrow {
    margin-bottom: 8px;
}

.projects-block__card-arrow::before {
    content: url(../img/svg/arrow.svg);
    margin-right: 8px;
}

.projects-block__card-arrow:last-child {
    margin-bottom: 0;
}

.projects-block__card-img {
    width: min-content;
}

/* Настройка Reviews */

.reviews-block {
    margin-top: 80px;
    text-align: center;
}

.reviews-block__title {
    margin-bottom: 16px;
}

.reviews-block__subtitle {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.25px;
    max-width: 768px;
    margin-bottom: 80px;
}

.reviews-block__card-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.reviews-block__card-content {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 24px 24px;
    background-color: rgba(37, 40, 44, 1);
}

.reviews-block__card-img {
    max-width: 60px;
    max-height: 48px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.reviews-block__card-quote {
    position: absolute;
    color: rgba(93, 93, 255, 1);
    font-size: 64px;
    top: 15px;
    bottom: 0;
    left: 0;
    right: -40px;
}

.reviews-block__card-subtitle {
    max-width: 304px;
    margin-bottom: 0;
    text-align: left;
}

.reviews-block__spacer {
    margin-top: 24px;
}

.reviews-block__author {
    margin-top: 20px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.25px;
    color: rgba(217, 227, 234, 1);
}

.reviews-block__author-board::before {
    content: "\0020/\0020";
    color: rgba(51, 54, 58, 1);
}

.reviews-block__author-board {
    font-weight: 600;
    color: rgba(93, 93, 255, 1);
}

/* Настройка Подписки */

.subscribe-block {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px;
    padding: 65px 48px;
    background-color: #5D5DFF;
}

.subscribe-block__text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.subscribe-block-title {
    font-weight: bold;
    color: #FFF;
}

.subscribe-block-subtitle {
    color: #E2E1FF;
}

.subscribe-block__input-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    gap: 8px;
}

.subscribe-block__input-flex input {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.25px;
    padding: 12px 16px;
    border-radius: 2px;
    border: 1px solid #8D8DFF;
    color: #ABABFF;
    background: #4B4ACF;
}

.subscribe-block__input-flex button {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    line-height: 24px;
    letter-spacing: -0.25px;
    padding: 12px 32px;
    border-radius: 2px;
    border: 1px solid #F4F4FF;
    color: #5D5DFF;
    background-color: #F4F4FF;
    box-shadow: 0px 1px 3px 0px rgba(25, 32, 44, 0.04);
    transition: all .2s ease-in-out;
}

.subscribe-block__input-flex button:hover {
    background-color: transparent;
    color: #FFF;
}

.subscribe-block__img {
    position: absolute;
    top: 0;
    right: 0;
}

/* Настройка футера */

.footer {
    margin-top: 64px;
    margin-bottom: 67px;
}

.footer-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.footer-block__left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 14px;
}

.footer__block-left__subtitle {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.25px;
    max-width: 352px;
}

.footer-block__title {
    color: #D9E3EA;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 4px;
}

.footer-block__right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px;
}

.footer-block__link {
    text-decoration: none;
    color: #9BA9B4;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 4px;
}

.footer-block__link:last-child {
    margin-bottom: 0;
}

.footer-block__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
}

.footer-block__icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
}

.footer-block__icon {
    max-width: 32px;
    max-height: 32px;
}

.footer-author {
    color: rgba(217, 227, 234, 1);
}